# Bbox administration password.
BBOX_PASSWORD=mypassword

# Bbox API base URL.
BBOX_URL=https://mabbox.bytel.fr

# Address to listen on for telemetry.
TELEMETRY_ADDRESS=0.0.0.0:9100

# Path under which to expose Prometheus metrics.
METRICS_PATH=/metrics

# Maximum time to wait for one Bbox scrape, in milliseconds.
BBOX_SCRAPE_TIMEOUT_MS=30000
